
body {
  background-color: black;
}

.header {
  position: absolute;
  margin-top: 240px;
  margin-left: 200px;

  font-size: 25px;
  font-family: "Roboto Mono", monospace;
  color: rgb(255, 255, 255);
}

.paragraph {
  color: whitesmoke;
  display: block;
  border: 1px solid rgb(255, 255, 255);
  
  font-family: "JetBrains Mono", monospace;
  font-size: 15px;
  
  padding: 10px;
  margin-left: 700px;
  margin-right: 700px;
  margin-top: 100px;
}




.ul_styles {
  list-style-type: none;
  margin-top: 10px;
  margin-left: 100px;
  margin-right: 100px;


  padding: 0px;
  overflow: hidden;

  border: 1px solid rgb(255, 255, 255);
  outline-color: rgb(255, 255, 255);
}


.nav_bar {
  position: absolute;
  transform: rotate(-90deg);
  top: 420px;
  left: -450px;
}

.li1 {
  float: inline-start;
  display: inline;
  font-family: "JetBrains Mono", monospace;
}

.li1 a {
  text-decoration: none;
  display: inline-block;
  color: rgb(255, 255, 255);
  padding: 10px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;

  border-right: 1px solid rgb(255, 255, 255);
}

.li1 a:hover:not(.active) {
  transition:all 0.15s ease-in-out;
}

.active {
  background-color: crimson;
}

.dark_mode_btn {
  font-family: "Roboto Mono", monospace;
  background-color: #b94949;
  color: black;
  font-size: 13px;
  
  display: block;
  border: 4px solid #383846;
  border: none;
  padding: 12px;
  text-align: center;
  float: right;
  
  cursor: pointer;
  transition-duration: 0.15s;
}